* {
    background-image: none;
}

window {
    background-color: #181926;
}

button {
    color: #cad3f5;
    background-color: #1e2030;
    border-color: #b7bdf8;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:active,
button:hover {
    background-color: #1e2030;
    outline-style: none;
}

#lock {
    background-image: image(url("/home/liperium/nix-conf/home/hypr-conf/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/liperium/nix-conf/home/hypr-conf/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/liperium/nix-conf/home/hypr-conf/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/liperium/nix-conf/home/hypr-conf/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/liperium/nix-conf/home/hypr-conf/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/liperium/nix-conf/home/hypr-conf/wlogout/icons/reboot.png"));
}